<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cooking ONLY!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../style/css/style.css" />
        <script src="../scripts/main.js"></script>
        <link rel="import" href="h1.html">
        <link rel="icon" 
          type="image/png" 
          href="../style/images/logo.png" />
    </head>
</html>