img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.title {
    text-align: center;
}

.recipe {
    text-align: center;
    border: 3px solid purple;
    margin: auto;
    width: 70%;
    padding: 10px;
}

.jam-list {
    text-align: center;
    border: 3px solid purple;
    margin: auto;
    width: 70%;
    padding: 10px;
}

.aboutme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer {
    text-align: center;
}

.width {
    width: 65%;
    margin: auto;
    text-align: center;
}

/* Need to consolidate into generic header div 
Add in the other stuff from index.html as well*/
.w3-top{
    position:fixed;
    width:100%;
    z-index:1;
    top:0;
}

.w3-white{
    color:#000!important;
    background-color:#fff!important
}

.w3-xlarge{
    font-size:24px!important
}

.w3-padding-16{
    padding-top:16px!important;
    padding-bottom:16px!important
}

.w3-left{
    float:left!important;
}

.w3-center{
    text-align:center!important
}

.w3-right{
    float:right!important
}

/* Need to consolidate into generic sidebar div */

.w3-sidebar{
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    overflow:auto;
    display:none;
    z-index:2;
}

.w3-bar-block {
    /* width:100%;
    min-width:100%; */
    text-align:right;
    padding:8px 16px;
    display:block;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
}

.w3-card {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/* .w3-top{
    position:fixed;
    width:100%;
    z-index:1;
    top:0;
} */

.w3-xlarge{
    font-size:24px!important
}

.w3-animate-left{
    position:relative;
    animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}
}

.w3-bar-item{
    padding:8px 16px;
    float:left;
    /* float:none; */
    width:auto;
    /* width:100%; */
    border:none;
    display:block;
    outline:0;
    text-align:right;
    white-space:normal;
}

.w3-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    cursor:pointer;
    white-space:nowrap;

    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

    text-align:right;
}

.w3-button:hover{
    color:#000!important;
    background-color:#ccc!important;
}

/* my own header */

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header li {
    display: inline;
}

.head-button{
    float:left;
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    cursor:pointer;
    white-space:nowrap;

    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

    text-align:left;
}

.head-button:hover{
    color:#000!important;
    background-color:#ccc!important;
}


/* makes text appear when hover */

.container {
    position: relative;
    text-align: center;
  }
  
  .pic-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; 
  }
  
  .container:hover .picture {
    opacity: 0.3;
  }
  
  .container:hover .pic-hover {
    opacity: 1;
  }
  
  .text {
    color: #2B3927;
    font-size: 25px;
    line-height: 27px;
  }

  /* ends make text appear when hover */

  /* the image grid */
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 50%;
    max-width: 45%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  /* end image grid */