.header-top {
    position:fixed;
    width:100%;
    z-index:1;
    top:0;
    left: 0;
    background-color: #EB99B8;
}

.header-top-text {
    font-size:24px!important
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

header li {
    display: inline;
}